@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.App{
    min-height: 100vh;
    display: flex;
    background: #e2d4ff ;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.ui{
    background-color:rgba(185, 137, 230);
    padding: 40px;
    justify-content: center;
    border-radius: 15px;
    color: #fff;
    
}
.from{
    background-color: #B989E6;
    padding: 20px;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
}
.inputTag{
    padding: 10px;

    outline: none;
    border: none;
  
    border-radius:10px ;
}
.inputTag:hover{
    outline: none;
    border: none;
    box-shadow: 0px 0px  20px #7e7c7c;
  
}
.from button{
    background: none;
    border: none;
    padding: 10px;
    background-color: beige;
    display: flex;
    border-radius: 50%;
    transition: 0.3s all;
}
.from button img{
    max-width: 20px;
    height: auto;
    
}
.from button:hover{
    transform: scale(1.1);
    }
    .outPutData{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .city{
        display: inline-block;
        background-color: #fff;
        padding: 5px 10px;
        color: black;
        text-transform: uppercase;
        border-radius: 10px;
    }
    .option{
        border: none;
        outline: none;
        padding: 5px 10px ;
        border-radius: 10px;
    }
    .heading{
        text-align: center;
    }
    .lastSearchCity{
        font-weight: 600;
        font-size: 25px;
    }